body{
    font-family: 'Century Gothic', helvetica, arial;
}

.navbar{
    background-color:#A0ddcf;
}

.navbar .navbar-text{
    color:#7d7aa2;
}

.jumbotron{
    background-color:#ffc1a7;
    border: solid 5px #f67e7d;
    border-radius:25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel .carousel-caption {
    text-shadow: 2px 2px 5px black;
}

.category{
    color:#7d7aa2;
    font-weight:bold;
}

.card{
    border-radius:25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer{
    background-color:#ffe5c4;
}


